<p class="hj">

 {% if page.header_mode == "writing_item" %}
  <a href="https://hellojames.co.uk" title="hellojames.co.uk" class="home">hellojames</a><i>/</i><a href="{{ '/writing/' | relative_url }}" title="/writing">writing</a><i>/</i><span>{{ page.header_title | default: page.title }}</span>
  <a href="{{ '/writing/feed.xml' | relative_url }}" title="RSS feed" class="feed">feed</a>

 {% elsif page.header_mode == "writing" %}
  <a href="https://hellojames.co.uk" title="hellojames.co.uk" class="home">hellojames</a><i>/</i><a href="{{ '/writing/' | relative_url }}" title="/writing">writing</a>
  <a href="{{ '/writing/feed.xml' | relative_url }}" title="RSS feed" class="feed">feed</a>

 {% else %}
  <a href="https://hellojames.co.uk" title="hellojames.co.uk" class="home">hellojames</a><i>/</i><span>james cook</span>

 {% endif %}

</p>

<p class="imprint">est. 2008&ndash;{{ 'now' | date: '%y' }} <span>&copy;</span> coded by hand in bristol,&nbsp;uk</p>
