<p class="hj">

  {% if page.header_mode == "writing" %}

    <a href="{{ '/writing/feed.xml' | relative_url }}" class="feed">feed</a>
    <a href="https://hellojames.co.uk" title="hellojames.co.uk" class="home">hellojames</a>
    <a href="{{ '/writing/' | relative_url }}">writing</a>

    {% if page.title and page.header_mode == "writing_item" %}
      <i>/</i>
      <span>{{ page.title }}</span>
    {% endif %}

  {% else %}

    <a href="https://hellojames.co.uk" title="hellojames.co.uk" class="home">hellojames</a> james cook

  {% endif %}

</p>

<p class="imprint">2007&ndash;{{ 'now' | date: '%y' }} &copy; coded by hand in britain</p>
