<p class="hj">

  {% if page.header_mode == "writing_item" %}

  <a href="https://hellojames.co.uk" title="hellojames.co.uk" class="home">hellojames</a>
  <a href="{{ '/writing/' | relative_url }}">writing</a>
  <i>/</i>
  <span>{{ page.header_title | default: page.title }}</span>
  <a href="{{ '/writing/feed.xml' | relative_url }}" title="RSS feed" class="feed">feed</a>

{% elsif page.header_mode == "writing" %}

  <a href="https://hellojames.co.uk" title="hellojames.co.uk" class="home">hellojames</a>
  <a href="{{ '/writing/' | relative_url }}">writing</a>
  <a href="{{ '/writing/feed.xml' | relative_url }}" title="RSS feed" class="feed">feed</a>

{% else %}

  <a href="https://hellojames.co.uk" title="hellojames.co.uk" class="home">hellojames</a> james cook

{% endif %}

</p>

<p class="imprint">2007&ndash;{{ 'now' | date: '%y' }} &copy; coded by hand in britain</p>
