@charset "UTF-8";

/*
Theme           hellojames print
Author          hellojames.co.uk
Last updated    2022.04.28
Last validated  2022.04.28
*/

@media print {





    /* ### GLOBAL */

    body {
      background: transparent;
      color: black;
      font-family: Georgia, serif;
      font-size: 10pt; /* base */
      line-height: 1.6;
      margin: 0 0 0 4em;
      max-width: 70%;
      padding: 0;
    }

    h1 {
      font-size: 36pt;
      font-weight: normal;
      line-height: 1.3;
      margin: 1em 0 .5em 0;
    }

    h2 {
      font-size: 16pt;
      margin: 1em 0 0.25em;
    }

    h3 {font-size: 12pt;}

    h2 small, 
    h3 small {font-weight: 100;}

    a {
      border-bottom: 1px dotted lightgray;
      color: black;
      text-decoration: none;
    }

    a:after {
      color: lightgray;
      content: " [" attr(href) "]";
      word-break: break-all;
    } 

    i {color: lightgray;}

    /*img {display: none;} 2022.04 */





    /* ### HEADER */

    header .imprint,
    header .feed {display: none;}

    header a:after {content: none;}





    /* ### CONTENT */

    ul {
      margin-top: -0.6em;
      padding-left: 0;
    }

    li {
      line-height: 1.4;
      margin-bottom: 0.4em;
    } 

    li::marker {color: gray;}

    figure {
     margin: 0 0 2em 0;
     padding: 0;
    }

    blockquote {
      border-left: 4px solid lightgray;
      display: block;
      font-style: italic;
      margin: 0 0 0 -12px;
      padding: 0 20px 0 7px;
    }

    blockquote small {
      display: block;
      font-style: normal;
      margin: 0.5em 0 2em 0;
    }

    .caps {
      font-size: 90%;
      font-style: normal;
      text-transform: uppercase;
    }

    .footnote {
      color: #777;
      font-size: 9pt;
      margin-left: -4px;
      vertical-align: top;
    }

    p.footnote {margin: -1em 0 1em -0.6em;}

    .articles li {list-style: none;}

    .articles li h2 {margin-bottom: 0;}

    .articles li p {margin: 0.5em 0;}    






/* /end print */
}