---
layout: default
header_mode: home
---
<!--
Updated     2026.05.12
Validated   2026.04.02
-->

<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Hello, I’m James. I’m a design leader who helps organisations build great in-house teams and digital services.">
    <title>{{ page.title }} | hellojames</title>
    <link rel="canonical" href="https://hellojames.co.uk">
    <link rel="stylesheet" media="screen" href="{{ '/media/screen.css' | relative_url }}">
    <link rel="stylesheet" media="print" href="{{ '/media/print.css' | relative_url }}">
    <link rel="alternate" type="application/rss+xml" title="hellojames" href="{{ '/writing/feed.xml' | relative_url }}l">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap" rel="stylesheet"> 
    <!--
    <link rel="shortcut icon" type="image/jpg" href="#">
    <link rel="apple-touch-icon" href="#">
    <noscript></noscript>
    -->
  </head>

  <body id="top">

    <div class="wrapper">

      <header>
        {% include header.html %}
      </header>

      {{ content }}
 
      <footer>
        <a href="{{ '/colophon/' | relative_url }}">colophon</a>
        <a href="#top">return to top</a>
      </footer>
      
    </div>

  </body>
</html>
